In [2]:
import quandl

In [3]:
my_data_01 = quandl.get("FRED/GDP")

In [4]:
my_data_01.tail()

                Value
Date
2019-01-01  21098.827
2019-04-01  21340.267
2019-07-01  21542.540
2019-10-01  21729.124
2020-01-01  21534.907

In [6]:
my_data_01.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742

In [7]:
ls

README.md  Tanker.ipynb  Tools.ipynb  quandl.ipynb  simple_return.ipynb

In [8]:
cd ..

/home/gri/jupyter_notebook/AI_for_trading

In [9]:
ls

JupyterWorkflow/  Trading/  bin/  etc/  include/  lib/  local/  share/

In [15]:
import pandas as pd
my_data_01.to_csv('/home/gri/jupyter_notebook/AI_for_trading/example_01.csv')
my_data_01

                Value
Date
1947-01-01    243.164
1947-04-01    245.968
1947-07-01    249.585
1947-10-01    259.745
1948-01-01    265.742
...               ...
2019-01-01  21098.827
2019-04-01  21340.267
2019-07-01  21542.540
2019-10-01  21729.124
2020-01-01  21534.907

[293 rows x 1 columns]