In [1]:
import numpy as np
from pandas_datareader import data as wb
import pandas as pd

/home/gri/.local/lib/python3.6/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
tickers = ['FRO','NAT','DHT','EURN','INSW','STNG']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t,data_source='yahoo', start='2016-1-1')['Adj Close']

In [3]:
new_data.head()

                  FRO        NAT       DHT       EURN  INSW       STNG
Date
2016-01-04  10.520770  10.672318  5.534191  10.344880   NaN  71.716026
2016-01-05   9.910352  10.594777  5.293882   9.975422   NaN  69.080795
2016-01-06   9.264024  10.601826  5.223202   9.698327   NaN  66.916153
2016-01-07   8.438161  10.383305  5.081844   9.482809   NaN  63.339756
2016-01-08   8.797231  10.326913  5.018232   9.290380   NaN  61.645668