In [1]:
import numpy as np
from pandas_datareader import data as wb
import pandas as pd

/home/gri/.local/lib/python3.6/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
tickers = ['FRO','NAT','DHT','EURN','INSW','STNG','TNK']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t,data_source='yahoo', start='2010-1-1')['Adj Close']

In [3]:
new_data.tail()

             FRO   NAT   DHT  EURN       INSW   STNG    TNK
Date
2020-06-30  6.98  4.06  5.13  8.15  16.340000  12.81  12.82
2020-07-01  7.43  4.21  5.38  8.33  17.139999  13.69  13.09
2020-07-02  6.97  4.06  5.10  8.15  15.730000  13.05  12.51
2020-07-06  7.43  4.18  5.36  8.60  16.570000  13.59  13.44
2020-07-07  7.10  4.05  5.19  8.49  15.720000  13.12  12.93

In [4]:
new_data.head(20)

                   FRO        NAT        DHT  EURN  INSW  STNG         TNK
Date
2010-01-04  101.321236  13.367895  27.682705   NaN   NaN   NaN  325.846008
2010-01-05  106.989304  13.398457  28.115238   NaN   NaN   NaN  324.721130
2010-01-06  107.094940  13.983464  28.475702   NaN   NaN   NaN  333.345337
2010-01-07  110.897133  14.144995  28.547792   NaN   NaN   NaN  333.345337
2010-01-08  113.255882  14.258504  28.836151   NaN   NaN   NaN  351.343750
2010-01-11  119.804070  14.830418  29.052418   NaN   NaN   NaN  356.218292
2010-01-12  115.333015  14.660156  28.619881   NaN   NaN   NaN  361.467926
2010-01-13  120.191322  14.708179  28.908239   NaN   NaN   NaN  357.343109
2010-01-14  118.149414  14.638324  29.052418   NaN   NaN   NaN  359.967987
2010-01-15  115.156982  14.516088  28.547792   NaN   NaN   NaN  365.592529
2010-01-19  117.445320  14.843520  28.115238   NaN   NaN   NaN  366.342316
2010-01-20  111.108353  14.730004  27.610613   NaN   NaN   NaN  361.842896
2010-01-21  106.285194  14.254142  26.673443   NaN   NaN   NaN  349.468964
2010-01-22  103.327957  13.232555  26.601349   NaN   NaN   NaN  341.219666
2010-01-25  108.291901  13.293678  26.961802   NaN   NaN   NaN  339.344818
2010-01-26  106.989304  13.324241  27.682705   NaN   NaN   NaN  335.970032
2010-01-27  109.735329  13.420285  27.754793   NaN   NaN   NaN  339.344818
2010-01-28  107.165337  13.201996  27.322245   NaN   NaN   NaN  328.095764
2010-01-29  105.827530  12.953156  27.178074   NaN   NaN   NaN  322.846252
2010-02-01  103.820831  13.031730  27.394335   NaN   NaN   NaN  323.596344

In [16]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2645 entries, 2010-01-04 to 2020-07-07
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FRO     2645 non-null   float64
 1   NAT     2645 non-null   float64
 2   DHT     2645 non-null   float64
 3   EURN    1372 non-null   float64
 4   INSW    914 non-null    float64
 5   STNG    2585 non-null   float64
 6   TNK     2645 non-null   float64
dtypes: float64(7)
memory usage: 165.3 KB

In [6]:
tickers.append('T')

In [7]:
tickers

['FRO', 'NAT', 'DHT', 'EURN', 'INSW', 'STNG', 'TNK', 'T']

In [8]:
len(tickers)

8

In [9]:
tickers.index('T')

7

In [14]:
tickers.sort(reverse=True)
tickers

['TNK', 'T', 'STNG', 'NAT', 'INSW', 'FRO', 'EURN', 'DHT']

In [ ]:
tickers